.main__heading {
    font-family: 'manrope';
    font-size: 1.8rem !important;
    color: $color-black;
    font-weight: 600;
}



.drop1 {
    background-color: $color-white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;



    button {
        color: $color-grey-light-3;
        text-align: left;
        width: 15rem !important;
        font-size: 1.5rem !important;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }


    .dropdown-toggle::after {
        margin-left: 2.5rem !important;
    }

    &-menu {
        font-size: 1.5rem !important;
        width: 15rem !important;
        &-link {
            border-bottom: 1px solid rgba($color-grey-light-2, .5);
        }
    }
}


.drop2 {
    background-color: $color-white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    button {
        color: $color-grey-light-3;
        text-align: left;
        width: 15rem !important;
        font-size: 1.5rem !important;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }


    .dropdown-toggle::after {
        margin-left: 2.5rem !important;
    }

    &-menu {
        font-size: 1.5rem !important;
        width: 15rem !important;
        &-link {
            border-bottom: 1px solid rgba($color-grey-light-2, .5);
        }
    }
}


.drop6 {
    background-color: $color-white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    button {
        color: $color-grey-light-3;
        text-align: left;
        width: 15rem !important;
        font-size: 1.5rem !important;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

    }

    .dropdown-toggle::after {
        margin-left: 8rem !important;
    }

    &-menu {
        font-size: 1.5rem !important;
        width: 15rem !important;
        &-link {
            border-bottom: 1px solid rgba($color-grey-light-2, .5);
        }
    }
}

.drop7 {
    background-color: $color-white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    button {
        color: $color-grey-light-3;
        text-align: left;
        width: 15rem !important;
        font-size: 1.5rem !important;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

    }

    .dropdown-toggle::after {
        margin-left: 9rem !important;
    }

    &-menu {
        font-size: 1.5rem !important;
        width: 15rem !important;
        &-link {
            border-bottom: 1px solid rgba($color-grey-light-2, .5);
        }
    }
}

.drop5 {
    background-color: $color-white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    button {
        color: $color-grey-light-3;
        text-align: left;
        width: 15rem;
        font-size: 1.5rem;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

    }

    .dropdown-toggle::after {
        margin-left: 5rem !important;
    }

    &-menu {
        font-size: 1.5rem;
        width: 15rem;
        &-link {
            border-bottom: 1px solid rgba($color-grey-light-2, .5);
        }
    }
}

