//  colors variables
$color-primary: #e67e22;
$color-primary-light: #efab6e;
$color-primary-dark: #bf6516;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #dedede;
$color-grey-light-3: #ababab;
$color-grey-dark: #777;
$color-grey-dark-2: #5e5e5e;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-secondary-light: #b48053;
$color-secondary-dark: #885f3b;

$color-tertiary-light: #70a1ff;
$color-tertiary-dark: #3742fa;



// Grid variables 
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 2rem; 



// font variables
$default-font-size: 1.6rem; 
